---
import { Icon } from "astro-icon/components";
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <Icon name="ri:menu-2-fill" size={24} />
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a href="#about">Sobre Nosotros</a></li>
        <li>
          <a href="#services">Servicios</a>
          <ul class="p-2">
            <li><a href="#civil-law">Derecho Civil</a></li>
            <li><a href="#real-estate-law">Derecho Inmobiliario</a></li>
            <li><a href="#criminal-law">Derecho Penal</a></li>
            <li><a href="#labor-law">Derecho Laboral</a></li>
            <li><a href="#tax-law">Derecho Tributario</a></li>
            <li><a href="#family-law">Derecho de Familia</a></li>
          </ul>
        </li>
        <li><a href="#team">Equipo</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li class="btn btn-sm btn-outline btn-accent mt-2">
          <a href="#contact">Consulta Gratis</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="#top">LawFirst</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#about">Sobre Nosotros</a></li>
      <li>
        <details>
          <summary><a href="#services">Servicios</a></summary>
          <ul class="p-2">
            <li><a href="#civil-law">Derecho Civil</a></li>
            <li><a href="#real-estate-law">Derecho Inmobiliario</a></li>
            <li><a href="#criminal-law">Derecho Penal</a></li>
            <li><a href="#labor-law">Derecho Laboral</a></li>
            <li><a href="#tax-law">Derecho Tributario</a></li>
            <li><a href="#family-law">Derecho de Familia</a></li>
          </ul>
        </details>
      </li>
      <li><a href="#team">Equipo</a></li>
      <li><a href="#contact">Contacto</a></li>
      <li class="btn btn-sm btn-outline btn-accent mt-2">
        <a href="#contact">Consulta Gratis</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <button
      data-toggle-theme="corporate-dark,corporate"
      data-act-class="ACTIVECLASS"
      class="btn"
    >
      <Icon name="ri:contrast-fill" size={24} />
    </button>
  </div>
</div>
