---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  icon?: string;
}

const { title, description, icon = "file-paper-2-fill" } = Astro.props;
---

<div class="card bg-base-100 dark:bg-base-200 card-lg h-full shadow-lg">
  <div class="card-body">
    <div class="mb-4 flex justify-center">
      <div
        class="bg-primary/10 flex size-16 items-center justify-center rounded-full"
      >
        <Icon name={`ri:${icon}`} size={30} class="text-primary" />
      </div>
    </div>
    <h2 class="card-title font-heading font-bold">{title}</h2>
    <p>{description}</p>
    <div class="card-actions mt-4 justify-center">
      <button class="btn btn-soft btn-primary">Consultar</button>
    </div>
  </div>
</div>
