@import "tailwindcss";
@import "./corporate-dark-theme.css";

@plugin "daisyui" {
  themes: corporate --default, corporate-dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=corporate-dark], [data-theme=corporate-dark] *));

html {
  scroll-behavior: smooth;
}

:root {
  --my-color: #fff;
  /* or any other variables/style */
}

[data-theme='corporate-dark'] {
  --my-color: #000;
}

[data-theme='corporate'] {
  --my-color: #ffabc8;
}