@import "tailwindcss";
@import "./corporate-dark-theme.css";

@plugin "daisyui" {
  themes: corporate --default, corporate-dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=corporate-dark], [data-theme=corporate-dark] *));

html {
  scroll-behavior: smooth;
}