<section>
  <h2>About us</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni non
    consequatur nihil earum! Ipsam unde debitis tempore voluptatem nesciunt ex,
    velit aut deleniti officia aliquid quibusdam. Eius, culpa repellat fugiat
    quas qui vero nostrum at, dolor quisquam amet nesciunt magnam impedit
    voluptatum doloremque aspernatur soluta quia est voluptates! Aliquam
    praesentium in asperiores similique officiis, debitis sed architecto sunt
    molestiae omnis nihil earum alias accusantium possimus iusto vero
    reprehenderit distinctio! At distinctio voluptate, quod dicta nulla
    inventore saepe sed quasi. Aliquam magni accusantium tempore optio, iusto
    veritatis magnam nobis nesciunt repellendus officiis doloribus dolores
    voluptate officia alias nostrum eaque quasi iste adipisci. Iure molestiae
    quos inventore. Magnam eius labore quisquam sint pariatur est laboriosam
    doloremque culpa dignissimos architecto expedita, alias dolore eaque,
    voluptas facere quo maxime! Necessitatibus, quaerat cupiditate quos
    blanditiis obcaecati alias nesciunt quia minus odit sit ea ad sint
    perspiciatis doloribus at sequi ipsum commodi. Autem voluptate error
    suscipit molestiae nobis illo eius dignissimos. Distinctio eum blanditiis
    impedit inventore cumque assumenda magni, ducimus voluptatibus itaque
    dolorem tempora asperiores cum consequatur quos et debitis vel reiciendis
    quidem magnam porro vero. Eius atque distinctio itaque similique explicabo
    ratione magni voluptatum porro corporis quo, commodi hic, sapiente
    blanditiis odio tenetur rem expedita.
  </p>

  <div class="card bg-base-100 card-sm w-96 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Our Philosophy</h2>
      <p>
        A card component has a figure, a body part, and inside body there are
        title and actions parts
      </p>
    </div>
  </div>
  <div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-title">Downloads</div>
      <div class="stat-value">31K</div>
      <div class="stat-desc">Jan 1st - Feb 1st</div>
    </div>

    <div class="stat">
      <div class="stat-title">New Users</div>
      <div class="stat-value">4,200</div>
      <div class="stat-desc">↗︎ 400 (22%)</div>
    </div>

    <div class="stat">
      <div class="stat-title">New Registers</div>
      <div class="stat-value">1,200</div>
      <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>
  </div>
  <div class="card bg-base-100 card-sm w-96 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Our Philosophy</h2>
      <p>
        A card component has a figure, a body part, and inside body there are
        title and actions parts
      </p>
    </div>
  </div>
</section>
