<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a>About</a></li>
        <li>
          <a>Services</a>
          <ul class="p-2">
            <li><a>Civil Law</a></li>
            <li><a>Real Estate Law</a></li>
            <li><a>Criminal Law</a></li>
            <li><a>Labor Law</a></li>
            <li><a>Tax Law</a></li>
            <li><a>Family Law</a></li>
          </ul>
        </li>
        <li><a>Team</a></li>
        <li><a>Contact</a></li>
        <li class="btn btn-sm btn-outline btn-accent mt-2">
          <a>Free Consultation</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">LawFirst</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>About</a></li>
      <li>
        <details>
          <summary>Services</summary>
          <ul class="p-2">
            <li><a>Civil Law</a></li>
            <li><a>Real Estate Law</a></li>
            <li><a>Criminal Law</a></li>
            <li><a>Labor Law</a></li>
            <li><a>Tax Law</a></li>
            <li><a>Family Law</a></li>
          </ul>
        </details>
      </li>
      <li><a>Team</a></li>
      <li><a>Contact</a></li>
      <li class="btn btn-sm btn-outline btn-accent mt-2">
        <a>Free Consultation</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <button
      data-toggle-theme="corporate-dark,corporate"
      data-act-class="ACTIVECLASS"
      class="btn">Toggle</button
    >
  </div>
</div>
