<section id="hero">
  <div
    class="hero min-h-screen"
    style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <div class="badge badge-md badge-outline mb-4">
          Legal Excellence Since 1998
        </div>
        <h1 class="mb-5 text-5xl font-bold">
          Defending your rights with integrity and firmness
        </h1>
        <p class="mb-5 text-pretty">
          We provide comprehensive legal advice focused on results. Your peace
          of mind is our priority. Specialists in corporate and civil law.
        </p>
        <button class="btn btn-primary">Contact Now</button>
        <button class="btn btn-soft btn-secondary">Our Services</button>
      </div>
    </div>
  </div>
</section>
