<section id="hero">
  <div
    class="hero min-h-screen"
    style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <div class="badge badge-md badge-outline mb-4">
          Excelencia Legal desde 1998
        </div>
        <h1 class="mb-5 text-5xl font-bold">
          Defendemos tus derechos con integridad y firmeza
        </h1>
        <p class="mb-5 text-pretty">
          Brindamos asesoría legal integral enfocada en resultados. Tu
          tranquilidad es nuestra prioridad. Especialistas en derecho
          corporativo y civil.
        </p>
        <button class="btn btn-primary">Contactar Ahora</button>
        <button class="btn btn-soft btn-secondary">Nuestros Servicios</button>
      </div>
    </div>
  </div>
</section>
