---
interface Props {
  title: string;
  description: string;
  icon?: string;
}

const { title, description, icon = "⚖️" } = Astro.props;
---

<div class="card bg-base-100 card-lg shadow-sm">
  <div class="card-body">
    <div class="mb-4 flex justify-center">
      <div
        class="bg-primary/10 flex h-16 w-16 items-center justify-center rounded-full"
      >
        <span class="text-3xl">{icon}</span>
      </div>
    </div>
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="card-actions mt-4 justify-center">
      <button class="btn btn-primary">Consultar</button>
    </div>
  </div>
</div>
